extends ../layouts/simple.layout.pug
block variables
  -
    var pageTitle = "icons"
block content
  .wrapper
    .car-icon
      .car-icon--cab
      .car-icon--body
      .car-icon--wheels
    .forbidden-icon
    .no-parking.rotate-45
    .ambulance
      .stop-icon--border
      .stop-icon--border.rotate-oposite-45
      .stop-icon--border.rotate-90
      .stop-icon--border.rotate-45
    .stop-icon
      .stop-icon--text STOP
      .stop-icon--border
      .stop-icon--border.rotate-oposite-45
      .stop-icon--border.rotate-90
      .stop-icon--border.rotate-45
      .octagon
      //.stop-icon-border
      //.stop-icon-border.stop-icon-border-bottom
      //.stop-icon-border.stop-icon-border-bottom-left
